{%extends 'all-hive/base.html'%}

{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  
  {% block styles %}

    {% bootstrap_css %}
    
  {% endblock %}

</head>
<body>
    {% block content %} 


<h1 style="text-align:center;">Contact Us</h1>
<div class="container" style="text-align:center; background-color:lightgrey;">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>
</div>

{%endblock%}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>