

{%extends 'all-hive/base.html'%}
{% load i18n %}

{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  {% block styles %}

    {% bootstrap_css %}
    
  {% endblock %}

</head>
<body>
    {% block content %} 
   
    <div style="background-image: url(https://images.pexels.com/photos/1843717/pexels-photo-1843717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size:cover; margin-top:-20px;">              
                

    
                 <div class="container">

                    <br>
                    <h1 style="text-align:center;color: darkgoldenrod; font-weight: bold; ">AKIKA-BEE-HIVE For Enterprises</h1>
                     <h3>Boosting opportunities for students for their professional
                            development and enhancement of their entrepreneurial skills:</h3><br>
                    <div class="row">


                            <p><i style='font-size:24px' class='fas'>&#xf121;</i> AKIKA-BEEHIVE as tool attracting society, business and high-school
                                staff and students, assist in the production of socially important projects.
                                Through the use of the platform Universities will be able to adapt their
                                study programmes so that those will enable students to get better
                                employment and the study programmes to get more market oriented.</p> 
                     </div><br>

                      <div class="row">
                            <p><i style='font-size:24px' class='fas'>&#xf121;</i>AKIKA-BEEHIVE-AKIKA is therefore about strengthening high-school
                                and business relationships through intervening into the academic curriculum.
                                The platform will also create a possibility for enterprises to monitor the
                                quality of study programmes and students’ professional knowledge and skills
                                as well as their soft skills.</p>
                        </div><br>



                      <div class="row">
                            <p><i style='font-size:24px' class='fas'>&#xf121;</i>It is also expected that AKIKA-BEEHIVE-AKIKA will foster
                                interdisciplinary of education, research and implementation of its results.
                                AKIKA-BEEHIVE-AKIKA are not only a medium , it is also a process of bringing
                                enterprises to high-school research and education to change attitudes and
                                approaches, and bringing staff and students closer to the business reality.
                                They in the long run will mean new ideas, new forms and new visions.</p>
                    </div><br>
                  </div>


    {%endblock%}
  </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>